/* src/css/header.css */

/* Style the navigation bar */
.navbar {
    display: flex;
    flex-direction: column; /* Switch to a vertical layout */
    background-color: #400090; /* Yahoo purple color */
    height: 100vh; /* Set the height to fill the viewport */
    width: 250px; /* Adjust the width as per your design */
  }
  
  .navbar a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 2rem;
  }
  
  .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ff6f00;
  }
  