/* src/css/landing-page.css */

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the landing page height to fill the viewport */
  }
  
  .content {
    text-align: center;
    padding: 2rem;
    max-width: 800px;
  }
  
  .programming-image {
    max-width: 100%;
    margin-top: 2rem; /* Add spacing between content and image */
  }
  